.hidden {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434435;
    background-color: #fff;
}

/* reset */

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;

}

h1 {
    font-weight: 700;
    color: #fff;
}

h2 {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;

}

/* common */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */
.nav-list {
    display: none;
}

.address {
    display: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.burger-menu-btn {
    border: none;
    background-color: transparent;
}

.header-logo {
    display: block;
    padding: 16px
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.accent {
    color: #2e2f42;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .burger-menu-btn {
        display: none;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-left: 120px;
    }



    .menu-list {
        color: #2e2f42;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.5;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-list.current {
        position: relative;

    }

    .menu-list.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;

    }

    .menu-list:hover,
    .menu-list:focus,
    .menu-list.current {
        color: #404bbf;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }


    .address {
        display: inline;
        font-style: normal;
        margin-left: auto;

    }

    .contact-info {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        display: block;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-info-first {
        padding-top: 16px;
        margin-bottom: 12px;
    }

    .contact-info-second {
        padding-bottom: 16px;
    }

    .contact-info:hover,
    .contact-info:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .contacts-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .contact-info-second {
        padding: 24px 0;
    }

    .contact-info-first {
        padding: 24px 0;
        margin-bottom: 0;

    }
}

/* Hero */
.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0 188px;
    margin-bottom: 96px;

}

.main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    font-style: normal;
    max-width: 216px;
    margin: 0 auto;
}

.button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    margin: 48px auto 0px auto;
    border: 0px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .main-title {
        font-size: 56px;
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {}

/* Feateres */
.icon-features {
    display: none;
}

.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;

}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    font-weight: 400;

}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .features-title {
        text-align: left;
        max-width: 264px;

    }

    .features-text {
        font-weight: 500;
        max-width: 356px;

    }

    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 16px;


    }

    .features-item {
        flex: 1 1 calc(50% - 24px);
        /* по 2 в рядок */
    }


}

@media screen and (min-width: 1200px) {
    .features-item {
        flex: 1 1 calc(25% - 24px);
        /* 4 в рядок */
    }

    .features-section {
        padding: 120px 0 120px;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .icon-features {
        background-color: #f4f4fd;
        width: 264px;
        height: 112px;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }
}

/* Team */
.team-section {
    background-color: #f4f4fd;
    padding: 120px 0 120px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;

}

.team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);

}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-name-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.team-description {
    padding: 32px 0px 32px;
    text-align: center;
}


.soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.soc-item {
    width: 40px;
    height: 40px;

}

.soc-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon {
    fill: #f4f4fd;
}

.soc-link:hover,
.soc-link:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 24px;
        row-gap: 64px;

    }

}

@media screen and (min-width: 1158px) {}


.portfolio {
    padding: 120px 0px 120px 0;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-img-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-img-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.img-description {
    padding: 32px 16px;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}

.tumb {
    position: relative;
    overflow: hidden;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-items {
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-items:hover {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio-items:hover .overlay {
    transform: translateY(0%);

}

@media screen and (min-width: 768px) {

    .portfolio-list>* {

        flex: 1 1 calc((100% - 24px) / 2);
        justify-content: center;
        align-items: center;
        row-gap: 72px;
        column-gap: 24px;
    }

}

@media screen and (min-width: 1158px) {
    .portfolio-list>* {
        flex: 1 1 calc((100% - 48px) / 3);
    }
}

/* Footer */
.footer-bg-color {
    background-color: #2e2f42;
    padding: 100px 0px 100px;
}

.link-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.first-footer-container {
    text-align: center;
    align-items: baseline;
}

.footer-logo {
    color: #f4f4fd;

}


.footer-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #f4f4fd;
    text-align: left;
    width: 288px;
    margin-bottom: 72px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;

}

.footer-p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    text-align: center;
}


.social-item {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 72px;
}

.social-li {
    width: 40px;
    height: 40px;
}

.social-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
}

.soc-footer-svg {
    fill: #f4f4fd;
}

/* Subscribe */
.paragraf-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}


.input-subscribe {
    width: 288px;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
}

input::placeholder {
    color: #fff;
}

.btn-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto",
        sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.svg-sb {
    fill: #fff;
    margin-left: 16px;
}



.form-label_subscribe {
    display: flex;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .second-footer-container {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .form-subscribe {
        display: flex;
        gap: 24px;
    }


    .first-footer-container {
        margin-right: 120px;
        align-items: baseline;
    }

    .footer-text {
        letter-spacing: 0.02em;
        line-height: 1.5;
        color: #f4f4fd;
        width: 264px;
    }

    .footer-p {
        width: 96px;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        margin-bottom: 16px;
    }

    .social-item {
        display: flex;
        gap: 16px;
    }

    /* Subscribe */

    .paragraf-subscribe {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: left;
    }

    .input-subscribe {
        width: 264px;
        height: 40px;
        border: 1px solid #fff;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #fff;
    }

    .btn-subscribe {
        min-width: 165px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto",
            sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
    }

    .form-label_subscribe {
        display: flex;

    }

}

@media screen and (min-width: 1158px) {
    .second-footer-container {
        gap: 24px;
    }
}


/* menu */
ul,
li {
    list-style-type: none;
}

.mob-menu>.mob-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.mob-container {
    padding: 24px 16px 40px 16px;
    max-width: 320px;
    background-color: #ecedf4;
}

.mob-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;

}

.menu-close {
    display: block;
    margin-left: auto;
    margin-bottom: 16px;
}


.mob-menu-item {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40/36);
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.mob-menu-tel {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(40/36);
    color: #4D5AE5;
    margin-bottom: 40px;
}

.mob-menu-email {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 48px;
}


.mob-soc-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.mob-soc-icon {
    fill: #F4F4FD;
}

.mob-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 24px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.menu-close:is(:hover, :focus) {
    border: #404BBF;
    background-color: #404BBF;
    fill: #ffffff
}

.mob-menu-color {
    color: #404BBF;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

html.on-scroll,
body.on-scroll {
    overflow: hidden;
    height: 100%;
}